<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
</head>
<body>
    <div id="authentication-div">
        <h1>Healthifyy Admin Login!!</h1>
        <input id="password-input" type="text" placeholder="Enter Password" required>
        <button id="submit">Submit</button>
    </div>
</body>
<script type="text/javascript" src="~/js/admin.js"></script>
</html>