<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/seller.css" />
</head>
<body>
    <div class="top-div"></div>
    <div class="center-div">
        <div class="left-center">
            <h1 class="apply-test">Apply for Authorization</h1>
            <div class="seller-details">
                <h3>Enterprise Name*</h3>
                <input id="seller_enterprise_name" type="text" placeholder="Enter here" required>
                <h3>Location*</h3>
                <input id="seller_location" type="text" placeholder="Enter here" required>
                <h3>GSTIN*</h3>
                <input id="seller_gst" type="text" placeholder="Enter here" required>
                <button class="submit" id="seller-apply-btn">Apply</button>
            </div>
        </div>
        <div class="right-center"></div>
    </div>

</body>
<script type="text/javascript" src="~/js/SellerForm.js"></script>
</html>