<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/cart.css">
    <link rel="stylesheet" type="text/css" href="~/css/myorders.css">
</head>
<body>
    <div class="header">
        <h1>Healthifyy</h1>
        <h2>MY ORDERS</h2>
        <button class="about-us">About US</button>
    </div>
    <div class="container">
        <div id="products-div-text">
            <span class="hr">
                <hr>
            </span>
            <p class="products-text">My Orders</p>
            <span class="hr">
                <hr>
            </span>
        </div>
        <div id="your_orders_div"></div>

    </div>
    <script type="text/javascript" src="~/js/seller_orders.js"></script>

</body>
</html>