@model long

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>changePassword</title>
</head>
<body>
    <h4>Enter New Password:</h4>
    <input type="password" id="password" placeholder="Enter Password" required/>
    <button id="submit">Submit</button>

    <script>
        var submit = document.getElementById("submit");
        submit.addEventListener("click",()=>{
            var password = document.getElementById("password");
            if(password.value.trim()!= "")
            {
                fetch("/Index/changePasswordValue", { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ password: password.value,token: @Model }) })
                .then(res=>res.json())
                .then(d =>{
                    if(d.status){
                        window.location.href = "/Home/Home";
                    }
                    else{
                        alert("Something Went Wrong!!");
                    }
                })
            }
            else{
                alert("Please Enter New Password");
            }
        })

    </script>
</body>
</html>
