
@{
    Layout = null;
}
@model bool

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet"  href="~/css/header.css" asp-append-version="true" />
</head>

<body>
    <div id="container-div">
        <partial name="Header" />
        <div id="login-signup-back">
            <div class="login-signup" id="signup">
                <i id="close" class="fa fa-close"
                   style="font-size:25px;color:white;margin-left:310px;cursor: pointer;"></i> 
                <h3 class="login-signup-heading">SignUp!!</h3>
                <input class="user-input" id="signup-name" type="text" placeholder="Enter Name" required><br>
                <input class="user-input" id="signup-email" type="email" placeholder="Enter Email" required><br>
                <input class="user-input" id="signup-phone" type="number" placeholder="Enter Phone number"
                       required><br>
                <input class="user-input" id="signup-password" type="password" placeholder="Enter Password"
                       required><br>
                <button class="login-signup-submit" id="signup-submit">Submit</button>
                <p class="login-signup-text" id="signup-text">Already a Customer?LogIn</p>
            </div>
            <div class="login-signup" id="login">
                <i id="close1" class="fa fa-close"
                   style="font-size:25px;color:white;margin-left:310px;cursor: pointer;"></i>
                <h3 class="login-signup-heading">Login!!</h3>
                <input class="user-input" id="login-email" type="email" placeholder="Enter Email" required><br>
                <input class="user-input" id="login-password" type="password" placeholder="Enter Password"
                       required><br>
                <button class="login-signup-submit" id="login-submit">Submit</button>
                 <p id="forgot-password" style="color: blue;text-decoration: underline;cursor: pointer;">Forgot Password!!</p> 
                <p class="login-signup-text" id="login-text">New Customer?SignUp</p>
            </div>
        </div>
        <script>

            var seller_btn = document.getElementById("become-seller")
            seller_btn.onclick = () => {
                if (@Model) {
                    var login_signup_back = document.getElementById("login-signup-back");
                    login_signup_back.style.display = "flex";
                }
                                    else
                {
                    window.location.href = "/seller";
                }
            }

        </script>
        <div class="main-div">
            <h1 class="main-div-text">
                Welcome<br>
                Get organic fruits and vegetables at your door step<br> with just few clicks
            </h1>
        </div>
        <div id="products-div">
            <div id="products-div-text">
                <span class="hr">
                    <hr>
                </span>
                <p class="products-text">Products</p>
                <span class="hr">
                    <hr>
                </span>
            </div>

            <div class="products" id="products">
            </div>
            <button id="load_more">Load More >></button>
        </div>
    </div>

    <script type="text/javascript" src="~/js/homeJavascript.js"></script>
    <script type="text/javascript" src="~/js/header.js"></script>

</body>


</html>
